.PerBtnBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.PerBtn {
	border-radius: 5px;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	box-shadow: inset 0 0 2px 2px #1e34add0;
	background-color: inherit;
	cursor: pointer;
}
.PerBtn:hover {
	box-shadow: 0 0 2px 2px #1e34ad;
}
.ActiveBtn {
	background-color: #1e34ad;
	box-shadow: 0 0 2px 2px #1e34ad;
	font-weight: 700;
}
